h1{
    color:#fffef9;
}

.titleBox{
    display: flex;
    background-color: #121f4a;
    justify-content: center;
    align-items: center;
}

.center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.circle{
    background-color: #efbe1f;
    border-radius:50%;
}

.half-circle{
    background-color:#efbe1f;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
}

.header{
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 10px;

    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.header a{
    color:#fffef9;
    font-size: 25px;
    text-decoration: none;
}

.header a:hover{
    color:#121f4a;
    font-size: 40px;
    cursor: pointer;
    padding: 15px;
}

/*colors*/
.pink{
    color:#fec6da;
}
.yellow{
    color:#efbe1f;
}
.darkBlue{
    color:#121f4a;
}
.white{
    color:#fffef9;
}

.back-pink{
    background-color:#fec6da;
}
.back-yellow{
    background-color:#efbe1f;
}
.back-darkBlue{
    background-color:#121f4a;
}
.back-white{
    background-color:#fffef9;
}


/*main*/
body{
    background-color:#fec6da;
}
.border{
    border: 3px solid black;
}