/*basic*/
a{
    text-decoration: none;
    font-size: 20px;
    font-family: 'Bitter', serif;

    color: #2d2958;
}
a:hover{
    color: #d29f52;
}

body{
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 7fr 1fr;
    grid-template-rows: 3fr 1fr 3fr;

    background-color: #d2c5d8;
}

.header{
    margin-top: 40px;
    grid-area: 1/2/1/2;
    align-self: start;
    justify-self: center;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5em;
}

.title{
    font-size: 125px;
}
.paragraph{
    font-size: 35px;
}


/*speficic*/
.title-one{
    grid-area: 2/2/2/2;
    background-color: #2d2958;
    color: #d2c5d8;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title-two{
    grid-area: 2/3;
    color: #2d2958;
    align-self: center;
}

.body-one{
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 7fr 1fr;
    grid-template-rows: 3fr 1fr 3fr;
}

.body-two{
    width: 100%;
    height: 200vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(12, 1fr);
}
.bodyV2{
    position: absolute;
    width: 100%;
    height: 100vh;
    z-index: -10;
    top: 100vh;
    left: 0;
}

.body-three{
    width: 100%;
    height: 200vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(12, 1fr);
}

.paragraph-one{
    background-color: #2d2958;
    grid-area: 3/2/6/5;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #d2c5d8;
    font-size: 30px;
    margin-right: 20px;
    margin-left: 300px;
}

.paragraph-two{
    background-color: #2d2958;
    grid-area: 8/2/12;
    display: flex;
    justify-content: center;
    color: #d2c5d8;
    font-size: 30px;
    padding: 20px;
}

.paragraph-three{
    background-color: #2d2958;
    color: #d2c5d8;
    font-size: 50px;
    grid-area: 5/1/7/3;
    margin-left: 200px;
    margin-top: 75px;
    margin-bottom: 50px;
}

.paragraph-four{
    color: #2d2958;
    font-size: 70px;
    grid-area: 2/2/5/4;
    margin-bottom: 100px;
    margin-left: 100px;
    margin-right: 100px;
    font-weight: 700;
}

.paragraph-five{
    background-color: #d29f52;
    margin: 50px;
    margin-top: 0px;
    margin-bottom: 50px;
}

.photo-one{
    background-color: #d29f52;
    grid-area: 2/1/5/3;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 50px;
}

.pic-one{
    width: 50%;
    grid-area: 2/1/6/3;
    align-self: center;
    margin-left: 100px;
}


.socials-div{
    grid-area: 12/2;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.socials{
    background-color: #d29f52;
    border-radius: 20px;
    width: 75px;
    height: 75px;
}


/*colors*/
.lPurple{
    color:#d2c5d8;
}
.dPurple{
    color:#2d2958;
}
.brown{
    color:#90553c;
}
.yellow{
    color: #d29f52;
}
.back-lPurple{
    background-color: #d2c5d8;
}
.back-dPurple{
    background-color: #2d2958;
}
.back-brown{
    background-color: #90553c;
}
.back-yellow{
    background-color: #d29f52;
}


/*fonts*/
.font1{
    font-family: 'Orbitron', sans-serif;
}
.font2{
    font-family: 'Bitter', serif;
}


/*shapes*/
.circle{
    background-color: #d29f52;
    border-radius: 100%;

    position: absolute;
    z-index: -10;
}
.half-circle{
    background-color: #d29f52;
    border-radius: 150px 150px 0 0;

    position: absolute;
    z-index: -10;
}
.triangle{
    border-left: 200px solid transparent;
    border-right: 200px solid transparent;
    border-top: 300px solid #d29f52;

    position: absolute;
    z-index: -10;
}

.test{
    background-color: blue;
    color: white;
    border: 3px solid black;
}